@model IEnumerable<SalonManagementSystem.Models.Employee>

<h2>Employee List</h2>

<table class="table table-hover shadow-sm">
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Specialization</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.StartWorkingHours</td>
                <td>@employee.EndWorkingHours</td>
                <td>
                    <a href="@Url.Action("DeleteEmployee", "Admin", new { id = employee.Id })" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
